html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: oklch(25.331% 0.05445 241.522);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: oklch(58.8% 0.158 241.966);
  border-radius: 5px;
  transition: all 300ms;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(54.598% 0.13559 244.565);
}

.bg-gradient-radial {
  background: radial-gradient(circle, var(--tw-gradient-stops));
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
